{% extends "compositions/compositions_base.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load cms_tags %}
{% load abc_extras %}
{% load static %}

<!-- Title -->
{% block title %}
  {% if LANGUAGE_CODE == 'ar' %}
  المقطوعات | {{ composition.title_ar }}
  {% else %}
    Compositions | {{ composition.title_en }}
  {% endif %}
{% endblock title %}


<!-- content -->
{% block content %}

<!-- arabic content -->
{% if LANGUAGE_CODE == 'ar' %}

<div class="container" dir=rtl>
  <div class="row">
    <div class="col-12">
    
      <h1>{{ composition.title_ar }} {% if composition.year %} ({{ composition.year }}){% endif %}</h1>
      <h4 class="composer_name">المؤلف:
        {{ composer.composer_first_name_ar }} 
        {% if composer.arabic_definite_article %}ال{%endif%}{{ composer.composer_last_name_ar }}
        <span class="composer_lifespan">
          {{ composer.composer_birth_country_ar }}
          {% if composer.composer_death_year %}
            ({{ composer.composer_birth_year }} - {{ composer.composer_death_year }})
          {% else %}
            ({{ composer.composer_birth_year }} - )
          {% endif %}
        </span>
      </h4>
          
      {% if score.maqam_ar %}
        <p>المقام: [{{ score.maqam_ar }}]<p>
      {% endif %}
      
      {% if score.rhythm %}
        <p>الإيقاع: [{{ score.rhythm.rhythm_ar }}]<p>
        <p align=center><img class="img-fluid" src="{{ score.rhythm.rhythm_svg.url }}"></p>
      {% endif %}
          
      <p><a href='/library/music-scores/#{{ composer.composer_last_name_en }}'><< العودة لفهرس المقطوعات</a></p>
      <p>بإمكانك الاستماع لموسيقى هذه التدوينة منتجة بشكل آلي من قبل الموقع من خلال الضغط في أي مكان داخل التدوينة ولإيقاف الموسيقى عليك الضغط على أي مكان خارج التدوينة.<br>
    ملاحظة: الصوت المنتج آليا لا يحتوى على النغمات الشرقية ذات الربع التون.</p>


    </div>
  </div>
    
  <div class="row">
    <div class="col-12">
      <div dir="ltr" class="abc">
{{ score.abc_score_text }}
      </div>
      <p>التدوينة الموسيقية من قبل: {{ score.notation_source_ar }} </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div id="comp" class="dlog">wait until soundfonts are loaded ...<br></div>
    </div>
  </div>
  
</div>

  
<!-- english content -->  
{% else %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>
        {{ composition.title_en }} {% if composition.year %} ({{ composition.year }}){% endif %}
      </h1>
      <h4 class="composer_name">Composer: {{ composer.composer_first_name_en }} 
        {% if composer.arabic_definite_article %}al-{%endif%}{{ composer.composer_last_name_en }}
        <span class="composer_lifespan">
          {{ composer.composer_birth_country_en }}
          {% if composer.composer_death_year %}
            ({{ composer.composer_birth_year }} - {{ composer.composer_death_year }})
          {% else %}
            ({{ composer.composer_birth_year }} - )
          {% endif %}
        </span>
      </h4>
  
      <p><a href='/library/music-scores/#{{ composer.composer_last_name_en }}'><< Back to Compositions Index</a></p>
      <p>
        You can listen to a crude auto genetrated sound file of this score by: clicking or pressing anyhwere inside the score, to stop the playback: click anywhere outside the score.<br>
        Note: the autogenerated sound file doesn't yet contain quarter tone pitches.
      </p>
    </div>
  </div>
    
  <div class="row">
    <div class="col-12">
      <div dir="ltr" class="abc">
{{ score.abc_score_text }}
      </div>
      <p>Notation by: {{ score.notation_source_en }} </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div id="comp" class="dlog">wait until soundfonts are loaded ...<br></div>
    </div>
  </div>
  
</div>
{% endif %}





{% endblock content %}

      
      {% block js %}
        <script src="{% static 'oudwithrad/js/abc2svg-1.js' %}"></script>
        <script src="{% static 'oudwithrad/js/xmlplay_emb.js' %}"></script>
      {% endblock js %}
